/* --------------------------------------------------- */
/* GOOGLE FONTS */
/* --------------------------------------------------- */

/* Lato-300 - latin-ext_latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Lato-300-italic - latin-ext_latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: local(''),
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Lato-400 - latin-ext_latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Lato-400-italic - latin-ext_latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Lato-700 - latin-ext_latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Lato-700-italic - latin-ext_latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local(''),
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../../vendors/webfonts/gfonts/lato-v17-latin-ext_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ============================================= */
/* GENERAL SETTINGS */
/* ============================================= */

html,
body {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

html,
body,
.header-row {
    background-color: #f4f4f4;
}

.full-screen {
    height: 100%;
}

.noscroll {
    overflow: hidden;
}

.hide {
    display: none;
}

.preloader-init {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

#preloader,
.preloader-init .circle {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.header-row,
.footer-row {
    background-color: #a0a0a0;
    color: #f4f4f4;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-row {
    -webkit-box-shadow: 0px 1px 10px 2px #656565;
    box-shadow: 0px 1px 10px 2px #656565;
}

.footer-row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0px -1px 7px 1px #656565;
    box-shadow: 0px -1px 7px 1px #656565;
}

/* ============================================= */
/* NAVBAR */
/* ============================================= */

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
#personnel-search-input:focus,
#personnel-search-button:focus,
#personnel-refresh-button:focus {
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Disable default Bootstrap navbar icon */
.navbar-toggler-icon {
    background-image: none !important;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

/* Use custom navbar icon - 'hamburger' icon when collapsed */
.navbar-toggler-icon::before {
    font-family: "Font Awesome 5 Free";
    font-size: 130%;
    font-weight: 700;
    content: "\f0c9";
    color: #f4f4f4;
}

/* Use custom navbar icon - 'close' icon when expanded */
.navbar-expanded::before {
    content: "\f00d";
}

/* Animate navbar icon */
.rotate {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#header-logo img {
    height: 50px;
}

#personnel-search-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#personnel-search-button,
#personnel-refresh-button {
    color: #555;
}

#personnel-search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#personnel-refresh-button:hover {
    background-color: #3cdb92 !important;
    color: #f4f4f4;
    opacity: 0.9;
}

/* ============================================= */
/* ICONS */
/* ============================================= */

.sort {
    cursor: pointer;
    margin: 0 0 0 2px;
}

.fa-plus-circle,
.fa-minus-circle {
    font-size: 120%;
}

.fa-plus-circle:hover {
    cursor: pointer;
}

.fa-plus-circle {
    color: #24c078;
}

.fa-minus-circle {
    color: #dc3545;
}

.td-icon {
    text-align: center;
    vertical-align: middle;
}

.icon-fixed {
    position: fixed;
    right: 60px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: 3px 5px 7px #656565;
    box-shadow: 3px 5px 7px #656565;
    font-size: 190%;
    padding: 5px 8px;
    opacity: 0.95;
    z-index: 9999;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.icon-fixed-grow {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#backtop-icon-fixed {
    background-color: #a0a0a0;
    color: #f4f4f4  ;
    bottom: 50px;
}

#backtop-icon-fixed:hover {
    background-color: #878787;
}

#add-record-icon-fixed {
    background-color: #24c078;
    color: #f4f4f4;
    bottom: 110px;
}

#add-record-icon-fixed:hover {
    background-color: #1fa366;
}

/* ============================================= */
/* TOOLTIPS */
/* ============================================= */

.tooltip {
    font-size: 90%;
    z-index: 10000;
}

.tooltip.show {
    opacity: 1;
}

/* Default tooltips */

.tt-default .tooltip-inner {
    background-color: #a0a0a0;
}

.tooltip.bs-tooltip-top.tt-default .tooltip-arrow::before {
    border-top-color: #a0a0a0;
}

.tooltip.bs-tooltip-bottom.tt-default .tooltip-arrow::before {
    border-bottom-color: #a0a0a0;
}

.tooltip.bs-tooltip-start.tt-default .tooltip-arrow::before {
    border-left-color: #a0a0a0;
}

.tooltip.bs-tooltip-end.tt-default .tooltip-arrow::before {
    border-right-color: #a0a0a0;
}

/* 'Add' tooltips */

.tt-add .tooltip-inner {
    background-color: #24c078;
}

.tooltip.bs-tooltip-top.tt-add .tooltip-arrow::before {
    border-top-color: #24c078;
}

.tooltip.bs-tooltip-bottom.tt-add .tooltip-arrow::before {
    border-bottom-color: #24c078;
}

.tooltip.bs-tooltip-start.tt-add .tooltip-arrow::before {
    border-left-color: #24c078;
}

.tooltip.bs-tooltip-end.tt-add .tooltip-arrow::before {
    border-right-color: #24c078;
}

/* 'Delete' tooltips */

.tt-delete .tooltip-inner {
    background-color: #dc3545;
}

.tooltip.bs-tooltip-top.tt-delete .tooltip-arrow::before {
    border-top-color: #dc3545;
}

.tooltip.bs-tooltip-bottom.tt-delete .tooltip-arrow::before {
    border-bottom-color: #dc3545;
}

.tooltip.bs-tooltip-start.tt-delete .tooltip-arrow::before {
    border-left-color: #dc3545;
}

.tooltip.bs-tooltip-end.tt-delete .tooltip-arrow::before {
    border-right-color: #dc3545;
}

/* ============================================= */
/* POPOVERS */
/* ============================================= */

.popover-header {
    background-color: #fae3e5;
    color: #dc3545;
    font-size: 100%;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
}

.popover-body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.popover {
    border-top: 1px solid #dc3545;
    border-left: 1px solid #dc3545;
    border-right: 1px solid #dc3545;
    border-bottom: 1px solid #dc3545;
}

.popover.bs-popover-top .popover-arrow::before {
    border-top-color: #dc3545;
}

.popover.bs-popover-bottom .popover-arrow::before {
    border-bottom-color: #dc3545;
}

.popover.bs-popover-start .popover-arrow::before {
    border-left-color: #dc3545;
}

.popover.bs-popover-end .popover-arrow::before {
    border-right-color: #dc3545;
}

/* ============================================= */
/* TOASTS */
/* ============================================= */

.toastWrapper {
    z-index: 9999;
}

.toast i {
    color: #24c078;
}

/* ============================================= */
/* TABLES */
/* ============================================= */

/* Prevent table headers from wrapping */
th {
    white-space: nowrap;
}

/* Highlight rows on hover */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #afeeee;
    cursor: pointer;
}

/* ============================================= */
/* MODALS */
/* ============================================= */

.modal-backdrop,
.modal-content {
    background-color: #fff;
}

.modal-title {
    font-size: 110%;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 3px solid #555;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

.modal-footer {
    padding: 15px 20px;
}

#errorModal a {
    cursor: pointer;
}

/* ============================================= */
/* PRELOADER & 'BUSY' SPINNER */
/* ============================================= */

.circle {
    width: 100px;
    height: 100px;
    position: relative;
}

.circle .child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.circle .child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #555;
    border-radius: 100%;
    -webkit-animation: circleBounceDelay 1.2s infinite ease-in-out both;
    animation: circleBounceDelay 1.2s infinite ease-in-out both;
}

.circle .circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
     transform: rotate(30deg);
}

.circle .circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.circle .circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.circle .circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.circle .circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.circle .circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.circle .circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.circle .circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.circle .circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.circle .circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.circle .circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.circle .circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.circle .circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.circle .circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.circle .circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.circle .circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.circle .circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.circle .circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.circle .circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.circle .circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.circle .circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.circle .circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* ============================================= */
/* MEDIA QUERIES */
/* ============================================= */

/* Large screens and above (Bootstrap 'lg' breakpoint) */
@media only screen and (min-width: 992px) {

    /* Increase size of header logo */
    #header-logo img {
        height: 70px;
    }

    /* Increase right offset and size of fixed icons */
    .icon-fixed {
        right: 80px;
        font-size: 210%;
    }

}